<h1>Booklist一覧</h1>

<ul>
  <% @booklists.each do |booklist| %>
    <li><%= link_to booklist.id, booklist %> : <%= 'タイトル' %> : <%= booklist.title %></li>
    <p><%= 'レビュー' %> : <%= booklist.review %></p>
  <% end %>
</ul>

<%= paginate @booklists %>

<%= link_to '新規Booklistの投稿', new_booklist_path %>